- if current_page.data.cta_trial_title
  - localvar_cta_trial_title = current_page.data.cta_trial_title
- else
  - localvar_cta_trial_title = "Free GitLab trial"

- if current_page.data.cta_trial_subtitle
  - localvar_cta_trial_subtitle = current_page.data.cta_trial_subtitle
- else
  - localvar_cta_trial_subtitle = "Unlimited access to all features for 30 days."

- if current_page.data.cta_trial_button_primary_url
  - localvar_cta_trial_button_primary_url = current_page.data.cta_trial_button_primary_url
- else
  - localvar_cta_trial_button_primary_url = "/free-trial/"

- if current_page.data.cta_trial_button_primary_text
  - localvar_cta_trial_button_primary_text = current_page.data.cta_trial_button_primary_text
- else
  - localvar_cta_trial_button_primary_text = "Start your free trial"

- if current_page.data.cta_trial_button_secondary_url
  - localvar_cta_trial_button_secondary_url = current_page.data.cta_trial_button_secondary_url
- else
  - localvar_cta_trial_button_secondary_url = "/sales/"

- if current_page.data.cta_trial_button_secondary_text
  - localvar_cta_trial_button_secondary_text = current_page.data.cta_trial_button_secondary_text
- else
  - localvar_cta_trial_button_secondary_text = "Contact sales"

- if current_page.data.cta_trial_css_class
  - localvar_cta_trial_css_class = current_page.data.cta_trial_css_class
- else
  - localvar_cta_trial_css_class = "btn-dark"

- if current_page.data.cta_contact_sales_css_class
  - localvar_cta_contact_sales_css_class = current_page.data.cta_contact_sales_css_class
- else
  - localvar_cta_contact_sales_css_class = "btn-light"

.row.text-center.cmp-cta-trial
  .col-md-12
    .row
      %h2 #{localvar_cta_trial_title}
    .row
      .col-md-12
        %h4 #{localvar_cta_trial_subtitle}
    .row
      .col-md-12
        %a{href: "#{localvar_cta_trial_button_primary_url}", class: "btn cta-btn #{localvar_cta_trial_css_class}"} #{localvar_cta_trial_button_primary_text}
        %a{href: "#{localvar_cta_trial_button_secondary_url}", class: "btn cta-btn #{localvar_cta_contact_sales_css_class}"} #{localvar_cta_trial_button_secondary_text}
